@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');

*{
    font-family: 'Sharpshooter';
}

@font-face {
    font-family: 'Sharpshooter';
    src: url('./assets/sharpshooter/Sharpshooter.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.title-logo{
    font-family: 'Sharpshooter';
    text-decoration: none;
    color: #000000;
}

.bg-body-tertiary{ 
    color: #3dde83 !important; 
}

li:hover{
    border-bottom: solid #ffffff;
    border-width: 1px;
}

header{
    position: fixed top;
}


html, body{
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-brand:hover{
    color: royalblue;
}

.Logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 60px;

}

.parallax{
    background-image: url("./assets/gym-background-mg.jpg");
    width: 100%;
    height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.paraPag{
    background-image: url("./assets/gym-background-pagamentos.jpg");
    width: 100%;
    height: 1300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centraliza os cards horizontalmente */
    align-items: center; /* Centraliza os cards verticalmente */
}

.title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 400px;
    flex-direction: column;
    padding: 5px;

}


.divFlex{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.cont {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centraliza os cards horizontalmente */
    align-items: center,stretch; /* Centraliza os cards verticalmente */
    
}

.bordas{
    margin:100px;
}



/* .cont{
    width: 600px;
    height: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: wrap;
    
} */
    /* justify-content:  space-around;
    align-content: ; 
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}
} */

.stretch {
	align-items: stretch;
}


.title{
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    color: #AAABAB;
}

.title:hover{
    cursor: default;
}

.subtitle{
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin-top: 20px;
    color: white;
}

.subtitle:hover{
    cursor: default;
}



/* CSS Boxe */

.title-modalidades-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.title-modalidades{
    text-align: center;
    color: #3dde83;
    font-weight: 700;
    width: 260px;
}



.modalidades-grid{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    justify-content: center;
    margin-top: 30px;
    gap: 3px;
    margin-bottom: 100px;
}

.jiu-jitsu-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 300px;
    border: solid 1px black;
    background-image: url("./assets/jiu-jitsu-img.jpg");
    color: #3dde83;
    cursor: default;
}

.jiu-jitsu-container:hover{
    filter: blur(2px);
    transition: 300ms;
}

.jiu-jitsu-container:not(:hover){
    filter: blur(0px);
    transition: 500ms;
}

.boxe-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: solid 1px black;
    background-image: url("./assets/boxe-background.jpg");
    color: #3dde83;
    cursor: default;
}

.boxe-container:hover{
    filter: blur(2px);
    transition: 500ms;
}

.boxe-container:not(:hover){
    filter: blur(0px);
    transition: 500ms;
}

.muay-thai-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: solid 1px black;
    background-image: url("./assets/muay-thai-img.jpg");
    color: #3dde83;
    cursor: default;
}

.muay-thai-container:hover{
    filter: blur(2px);
    transition: 300ms;
}

.muay-thai-container:not(:hover){
    filter: blur(0px);
    transition: 500ms;
}

.crossfit-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: solid 1px black;
    background-image: url("./assets/crossfit-img.jpg");
    color: #3dde83;
    cursor: default;
}

.crossfit-container:hover{
    filter: blur(2px);
    transition: 300ms;
}

.crossfit-container:not(:hover){
    filter: blur(0px);
    transition: 500ms;
}
